
/* 1. imported style */


.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* 2. shared style */

.btn-primary{
    padding: 12px 36px;
    color: white;
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.btn-primary:hover{
    color: black;
    background-color: yellow;
    border: 2px solid black;
    cursor: pointer;
}

.color-text-primary{
    color: #252432;
}

.color-section{
    background-color: #f5f8ff;
}

/* 3. header style */

*{
    margin: 0;
}


/* 3.1 nav */

nav{
    max-height: 151;
    max-width: 1140;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    gap: 909px;
    align-self: center;
    justify-content: center;

    /* nav bottom margin towards header */
    margin-bottom: 158px; 
}

.nav-title{
    font-size: 34px;
    font-weight: 900px;
    color: #4E47FF;
}

/* nav end */

header{
    max-height: 698px;
    background-image: url('../Assets/Hero-bg.png');
    padding-bottom: 152px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.headline{
    max-width: 905px;
    max-height: 237px;
}

.headline-title{
    font-weight: bold;
    font-size: 65px;

    margin-bottom: 37px;
}

/* 4. main style */

/* 4.1 section 1 (live preview) */

.live-previews{
    display: flex;
    gap: 220px;
    align-items: center;
    justify-content: center;

    margin: 116px auto;
}

.live-preview{
    max-width: 517px;
    max-height: 203px;
}

.live-preview-title{
    font-weight: bold;
    font-size: 42px;

    margin-bottom: 23px;
}

.live-preview-subtitle{
    color: #D6DDED;
    font-size: 24px;

    margin-bottom: 23px;
}

.img-live-preview{
    border-radius: 48px;
}

/* 4.2 section 2 */

.user{
    text-align: center;
    align-items: center;
    justify-items: center;
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    max-width: 1140px;
    padding: 50px 0;
    margin: 0 auto 137px;
}

.user-title{
    font-weight: bold;
    font-size: 38px;

    margin-bottom: 40px;
}

.user-counts{
    display: flex;
    gap: 158px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.user-count-num{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
}

.user-count-title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

/* 4.3 section 3 */

.user-reviews{
    justify-items: center;
    align-items: center;

    margin-bottom: 137px;
}

.user-reviews-title{
    font-weight: bold;
    font-size: 42px;
    text-align: center;

    margin-bottom: 50px;
}

.review-cards{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.review-card{
    max-width: 367px;
    max-height: 243px;
    border: 1px solid #F2EDED;
    border-radius: 14px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.5);
}

.all-stars{
    margin-bottom: 24px;
}

.review-title{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 8px;
}

.review-subtitle{
    font-size: 18px;
    margin-bottom: 24px;
}

.user-photo{
    border-radius: 50%;
}

.user-info{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-items: center;
}

.reviewer-name{
    color: #757575;
}

.reviewer-date{
    color: rgba(0, 0, 0, 0.5);
}

/* 4.4 section 4 */



/* 5. footer style */


